.DS_Store
.idea
docker/*
documentation/*
bin/*
backup/*
node_modules/*
.dockerignore
docker-compose.cloud.yml
docker-compose.development.yml
docker-compose.development-reverse-proxy.yml
docker-compose.production.yml
Dockerfile.cloud
Dockerfile.development
Dockerfile.production
Makefile
LICENSE
yarn-error.log
