@font-face {
    font-family: 'Bookmania-Regular';
    src: url('/font/bookmania/Bookmania-Regular.eot');
    src: url('/font/bookmania/Bookmania-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/bookmania/Bookmania-Regular.svg#Bookmania-Regular') format('svg'),
    url('/font/bookmania/Bookmania-Regular.ttf') format('truetype'),
    url('/font/bookmania/Bookmania-Regular.woff') format('woff'),
    url('/font/bookmania/Bookmania-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRounded-Light';
    src: url('/font/gotham-light/GothamRounded-Light.eot');
    src: url('/font/gotham-light/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
    url('/font/gotham-light/GothamRounded-Light.svg#GothamRounded-Light') format('svg'),
    url('/font/gotham-light/GothamRounded-Light.ttf') format('truetype'),
    url('/font/gotham-light/GothamRounded-Light.woff') format('woff'),
    url('/font/gotham-light/GothamRounded-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamCondensed-Book';
    src: url('/font/gotham-condensed/GothamCondensed-Book.eot');
    src: url('/font/gotham-condensed/GothamCondensed-Book.eot?#iefix') format('embedded-opentype'),
    url('/font/gotham-condensed/GothamCondensed-Book.svg#GothamCondensed-Book') format('svg'),
    url('/font/gotham-condensed/GothamCondensed-Book.ttf') format('truetype'),
    url('/font/gotham-condensed/GothamCondensed-Book.woff') format('woff'),
    url('/font/gotham-condensed/GothamCondensed-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

