p {
    font-family: $cb-font-secondary;
    font-size: 14px;
}

.desktop-menu{
    display: none;
}
.mobile-menu {
    display: block;
    .uk-navbar-toggle {
        color: $carbonbins-pink;
        min-height: 33px;
    }
}

.mobile-menu .uk-navbar-toggle:focus,
.mobile-menu .uk-navbar-toggle:hover{
    color: $carbonbins-white;
}
.content {
    h1, h3 {
        font-family: $cb-font-primary;
        font-weight: bold;
        font-size: 40px;
        color: $carbonbins-pink;;
        line-height: 46px;
    }

    h2 {
        font-family: $cb-font-tertiary;
        font-size: 30px;
        line-height: 30px;
        color: $carbonbins-white;
        margin: 0px;
    }

    h3 {
        font-family: $cb-font-secondary;
        font-size: 20px;
        line-height: 20px;
        color: $carbonbins-pink;
        margin: 10px 0px;
    }

    p {
        color: $carbonbins-white;
        font-family: $cb-font-secondary;
    }

    ol, ul {
        color: $carbonbins-white;
    }

    .top {
        vertical-align: top;
    }

    blockquote, figcaption {
        color: $carbonbins-white;
    }

    a {
        color: $carbonbins-pink;
        text-decoration: underline;
    }

    .uk-button {
        color: $carbonbins-green;
        text-decoration: none;
    }

    a:hover {
        color: $carbonbins-white;
        text-decoration: none;
    }
}

// Desktop Background images
@media screen and (min-width: 640px) {
    .clouds {
        background-image: url("/img/raining.png");
        background-position: 95% 15%;
        background-repeat: no-repeat;
        background-size: 300px;
    }

    .bin {
        background-image: url("/img/bin.png");
        background-position: 95% 15%;
        background-repeat: no-repeat;
        background-size: 300px;
    }

    .star {
        background-image: url("/img/star.png");
        background-position: 95% 15%;
        background-repeat: no-repeat;
        background-size: 300px;
    }

    .face {
        background-image: url("/img/large_face.png");
        background-position: 95% 15%;
        background-repeat: no-repeat;
        background-size: 300px;
    }

    .coins {
        background-image: url("/img/coins.png");
        background-position: 95% 15%;
        background-repeat: no-repeat;
        background-size: 300px;
    }

    .tree {
        background-image: url("/img/trees.png");
        background-position: 95% 15%;
        background-repeat: no-repeat;
        background-size: 300px;
    }
    .desktop-menu
    {
        display: block;
    }
    .mobile-menu{
        display: none;
    }
}


body {
    background-color: $carbonbins-green;
    padding: 0px;
}

footer {
    background-color: $carbonbins-pink;
    margin-top: 40px;

    .uk-form-horizontal .uk-form-label {
        width: 50px;
        margin-top: 20px;
        float: left;
        font-family: $cb-font-primary;
        font-size: 18px;
        color: $carbonbins-green;
    }

    .uk-form-horizontal .uk-form-controls {
        margin-left: 50px;
    }

    .uk-input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $carbonbins-green;
        font-family: $cb-font-primary;
    }

    .uk-input:focus {
        background-color: transparent;
    }

    .pink-card p {
        font-family: $cb-font-primary;
        color: $carbonbins-green;
    }

    .uk-nav, .uk-nav-header {
        font-family: $cb-font-primary;
        font-weight: bolder;
        font-size: 1em;
        text-transform: capitalize;
        color: $carbonbins-green;
        padding: 0px;

        li a {
            color: $carbonbins-green;
            text-decoration: underline;
            padding: 0px;
            font-weight: normal;
        }

        li a:hover {
            color: $carbonbins-white;
            text-decoration: none;
        }

    }
}

