
$carbonbins-green:  #296D2D;
$carbonbins-pink:   #CFA6CD;
$carbonbins-grey:   #666666;
$carbonbins-white:  #FFFFFF;
$inverse-button-primary-hover-background: $carbonbins-grey;
$inverse-button-primary-hover-color: $carbonbins-pink;
