
$carbonbins-green:  #296D2D;
$carbonbins-pink:   #CFA6CD;
$carbonbins-grey:   #666666;
$carbonbins-white:  #FFFFFF;
$inverse-button-primary-hover-background: $carbonbins-grey;
$inverse-button-primary-hover-color: $carbonbins-pink;
$cb-font-primary:   'Bookmania-Regular';
$cb-font-secondary: 'GothamRounded-Light';
$cb-font-tertiary:  'GothamRounded-Book';

//Accordion variables
$accordion-icon-margin-left:                    10px !default;
$accordion-icon-color:                          $carbonbins-white !default;
$internal-accordion-open-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22#000%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E" !default;
$internal-accordion-close-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22#000%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22#000%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E" !default;
