.home {
    padding-top: 50px;
    padding-bottom: 250px;
    background-color: $carbonbins-green;
    color: $carbonbins-white;

    @media screen and (min-width: 640px)
    {
        background-image: url("/img/planet.png") ;
        background-repeat: no-repeat;
        background-position: right center ;
    }
}
.home h1 {
    font-family: $cb-font-primary;
    font-weight: bold;
    font-size: 80px;
    color: $carbonbins-pink;;
    line-height: 77px;
}

.uk-button {
    font-family: $cb-font-secondary;
    font-size: 12px;
    font-weight: bolder;
    color: $carbonbins-green;
    background-color: $carbonbins-pink;
    border-color: $carbonbins-pink;
    padding: 15px;
    line-height: normal;
}

.pink-card .uk-button, .founding-members .uk-button {
    color: $carbonbins-pink ;
    background-color: $carbonbins-green;
    padding: 15px;
    line-height: normal;
}
.uk-button:hover
{
    background-color: $carbonbins-grey;
    color: $carbonbins-pink;
}

.pink-card .uk-button:hover, .founding-members .uk-button:hover {
    color: $carbonbins-white ;
    background-color:$carbonbins-grey;
}

.pink-card {
    background-color: $carbonbins-pink;
    h3 {
        font-family: $cb-font-primary;
        color: $carbonbins-green;
        font-weight: bolder;
    }
    p {
        color: $carbonbins-green;
        font-family: $cb-font-tertiary;
    }
}

.grey-card {
    border: solid 2px $carbonbins-pink;
    background-color: $carbonbins-green;
    h3 {
        font-family: $cb-font-primary;
        color: $carbonbins-pink;
        font-weight: bold;
    }
    p{
        font-family: $cb-font-tertiary;
        color: $carbonbins-pink;
    }
}
